include LICENSE
include README.md
include pyproject.toml
include setup.py
recursive-include pyorps *.py
recursive-include pyorps *.pyx
recursive-include pyorps *.pxd
recursive-exclude pyorps *.pyc
recursive-exclude pyorps __pycache__
global-exclude *.c
global-exclude *.cpp
global-exclude *.so
global-exclude *.pyd
